::placeholder {
    color: black;
    font-family:monospace;
}
.column-row {
    margin: 0px;
    padding: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 24px;
    color: black;
}

#card-box {
    display: flex !important;
    flex-direction: row !important;
}

.card-panel {
    height: 600px;
}

#headline {
    background-color:  rgba(255, 237, 36, 0.5);
}

#joke {
    background-color:  rgba(53, 254, 130, 0.5);
}

#favorites-card {
    background-color: rgba(255, 68, 227, 0.5);
}
#custom-string{
    font-family:monospace;
}
#search-joke{
    font-family:monospace;
}
#search-archives{
    font-family:monospace;
}
body {
    /* max-width: 1200px; */
    font-family:monospace;
    margin: auto;
    margin: 50;
}

#btns {
   margin: 20px auto 10px auto;
   font-family:monospace;
   position: relative;
   /* border-color: #F8CB2E; */
   /* border-style: solid; */
   border-width: thin;
   /* display: flex !important; */
   justify-content: center !important;
}

.play-controls {
    margin-top: 20px;
}

.search-controls button{
    /* display: flex;
    justify-content:stretch; */
    margin: 10px;
}

/* #btns button {
    justify-items: center;
} */

#play-button {
    margin: 10px;
}

#stop-button {
    margin: 10px;
}

#save-button {
    margin: 10px;
}

.btn-large {
    background-color: #006E7F;
}

nav {
    margin: 0px;
    padding: 0px;
    background-color: rgba(53, 255, 255, 0.637) !important ;
}

.nav-wrapper {
    font-family:monospace;
    /* background-color: none !important; */
    padding: 0px;
    margin: 20px;
    /* border-color: #F2D8B3; */
}

.column {
    font-family:monospace;
    margin: 5px;
    float: left;
    width: 32%;
}

.slidecontainer {
    font-size: 24px;
    width: 100%; /* Width of the outside container */
  }
  
  /* The slider itself */
  .slider {
    width: 100%; /* Full-width */
    height: 15px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 1; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
    border:none !important;
  }
  
  input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #000000;
    height: 32px;
    width: 32px;
    border-radius: 36px;
    background: #FFFCFC;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -14px;
  }

  /* Mouse-over effects */
  .slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }
  

  




.bg {
    animation: slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
    bottom: 0;
    left: -50%;
    opacity: .5;
    position: fixed;
    right: -50%;
    top: 0;
    z-index: -1;
}

.bg2 {
    animation-direction: alternate-reverse;
    animation-duration: 4s;
}

.bg3 {
    animation-duration: 5s;
}

.content {
    background-color: rgba(255, 255, 255, .8);
    border-radius: .25em;
    box-shadow: 0 0 .25em rgba(0, 0, 0, .25);
    box-sizing: border-box;
    left: 50%;
    padding: 10vmin;
    position: fixed;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
}

.header {
    margin-top: 20px;
}

h1 {
    font-family:monospace;
    margin-left: 10px;
    white-space: nowrap;
    margin:  auto;
    font-size: 50px;
}

nav h1 {
    padding: 0 0 10px 15px;
}

@keyframes slide {
    0% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(25%);
    }
}

/* responsive layout to change cards to single column */
@media (max-width: 800px) {
    #card-box {
        flex-direction: column !important;
    }

    .column {
        width: 100%;
        height:fit-content;
    }

    #search-container {
        white-space: nowrap;
    }
}
